<div class="container">
  <form action="/restaurants" method="post">
    <p>Address:  <input type="text" name="address"></p>
    <p>City:     <input type="text" name="city"></p>
    <p>State:    <input type="text" name="state"></p>
    <p><input type="submit"></p>
  </form>
</div>
